
.contenedor{

font-family: serif;
            font-size: 1.2rem;
            line-height: 1.6;
            padding: 40px;
            color: #1a1a1a;

}
.secreto {
            background-color: var(--censura);
            color: var(--censura);
            padding: 0 2px;
            border-radius: 2px;
        }