   :root {
            --color-destacado: #2e7d32; 
        }

        body {
            font-family: sans-serif;
            line-height: 1.6;
            margin: 40px;
            color: #333;
        }


        h1 {
            color: var(--color-destacado);
            border-bottom: 2px solid var(--color-destacado);
            padding-bottom: 10px;
        }

        p a {
            color: var(--color-destacado);
            text-decoration: none;
            font-weight: bold;
        }

        p a:hover {
            text-decoration: underline;
            filter: brightness(1.2); 
        }